{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.author, 'Author') }}
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.content, 'Comment') }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button class="btn btn-outline-custom">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
