{% extends 'base.html.twig' %}

{% block title %}List of categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4">List of categories</h1>

    <div class="text-end mb-3">
        <a href="{{ path('app_category_new') }}" class="btn btn-primary">Create a new category</a>
    </div>

    <table id="categoriesTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.createAt ? category.createAt|date('d/m/Y H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-sm btn-outline-custom me-2">Read</a>
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
            {{ knp_pagination_render(categories) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            new DataTable('#categoriesTable', {
                paging: false,
                info: false,
                searching: false,
            });
        });
    </script>
{% endblock %}
