{% extends 'base.html.twig' %}

{% block title %}New article{% endblock %}

{% block body %}
  
<div class="container mt-5">
        


    <div class="text-center mb-4">
        <h2>Create a new article</h2>
    </div>

    <div class="mx-auto" style="max-width: 700px;">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="mb-3">
            {{ form_label(form.title, 'Title') }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title of \article'}}) }}
        </div>

        <div class="mb-3">
                {{ form_label(form.content, 'Content') }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 5, 'placeholder': 'Content...'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.categories, 'Categories') }}
                {{ form_widget(form.categories, {'attr': {'class': 'form-select'}}) }}
            </div>

            <button class="btn btn-outline-custom">Add the article</button>
            {{ form_end(form) }}
        </div>
</div>
{% endblock %}
